<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-xl">

    <a class="navbar-brand" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M22.7 33.4c13.5-4.1 28.1 1.1 35.9 12.9L224 294.3 389.4 46.2c7.8-11.7 22.4-17 35.9-12.9S448 49.9 448 64V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V169.7L250.6 369.8c-5.9 8.9-15.9 14.2-26.6 14.2s-20.7-5.3-26.6-14.2L64 169.7V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V64C0 49.9 9.2 37.5 22.7 33.4z"/></svg>&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M329.1 142.9c-62.5-62.5-155.8-62.5-218.3 0s-62.5 163.8 0 226.3s155.8 62.5 218.3 0c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3c-87.5 87.5-221.3 87.5-308.8 0s-87.5-229.3 0-316.8s221.3-87.5 308.8 0c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0z"/></svg>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['employee']" class="custom-link text-secondary">Employees</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['login']" class="custom-link text-secondary">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
<div class="container">

  <!-- <div style="text-align: center;">
      <a [routerLink]="['employee']">Employee</a>&nbsp;&nbsp;&nbsp;
      <a [routerLink]="['login']">Login</a>&nbsp;&nbsp;&nbsp;
      <a [routerLink]="['welcome']">Welcome</a>
  </div> -->
  <h2 style="color: lightseagreen;">
    Employee Management
  </h2>
  <!-- <div class="text-center mt-4"> -->
    <!-- <a [routerLink]="['employee']" class="custom-link text-success">Employee</a> -->
    <!-- <a [routerLink]="['login']" class="custom-link text-success">Login</a> -->
    <!-- <a [routerLink]="['welcome', getFirstId()]" class="custom-link text-success">Welcome</a> -->
  <!-- </div> -->
  
  <router-outlet>
  </router-outlet>
</div>