<div class="row">
    <div class="col">
        <hr />
        <div>
            <div class="d-flex justify-content-between align-items-center">
                <h3 style="color: darkgreen;">Employee Records</h3>
                <div class="mx-3">
                    <button type="button" class="btn btn-success" (click)="addemployeedata()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd"
                                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </button>
                </div>
            </div>
            <hr />
            <form [formGroup]="myForm">
                <div id="employee">
                    <table class="table table-bordered border-success" style="width: 100%;"
                        formArrayName="employeedata">
                        <thead>
                            <tr>
                                <th style="width: 14%;">First Name</th>
                                <th style="width: 14%;">Last Name</th>
                                <th style="width: 14%;">Contact</th>
                                <th style="width: 14%;">Email</th>
                                <th style="width: 14%;">Date of Birth</th>
                                <th style="width: 14%;">Address</th>
                                <th style="width: 14%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <This is for displaying the values> -->
                            <tr *ngFor="let item of employees;let i = index">
                                <td *ngIf="!item.isEditing">{{item.first_name}}</td>
                                <td *ngIf="!item.isEditing">{{item.last_name}}</td>
                                <td *ngIf="!item.isEditing">{{item.contact}}</td>
                                <td *ngIf="!item.isEditing">{{item.email}}</td>
                                <td *ngIf="!item.isEditing">{{item.dob | date:'yyyy-MM-dd'}}</td>
                                <td *ngIf="!item.isEditing">{{item.address}}</td>
                                <td *ngIf="!item.isEditing">
                                    <div class="row">
                                        <!-- Edit Employees -->
                                        <div class="col mb-3">
                                            <!-- <button class="btn btn-primary" type="submit" (click)="editEmployee(i)"> -->
                                            <button class="btn btn-primary" type="submit" (click)="select(item, i)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <!-- Delete / Remove Employee -->
                                        <div class="col">
                                            <button class="btn btn-danger" type="submit"
                                                (click)="deleteEmployee(item.id)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                    <path
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </td>

                                <!-- <This is for editing the values> -->
                                <td *ngIf="item.isEditing">
                                    <input type="text" [(ngModel)]="item.first_name" style="width: 100px"
                                        [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td *ngIf="item.isEditing">
                                    <input type="text" [(ngModel)]="item.last_name" style="width: 100px"
                                        [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td *ngIf="item.isEditing">
                                    <input type="text" [(ngModel)]="item.contact" style="width: 100px"
                                        [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td *ngIf="item.isEditing">
                                    <input type="email" [(ngModel)]="item.email" style="width: 150px"
                                        [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td *ngIf="item.isEditing">
                                    <input type="date" [(ngModel)]="item.dob" style="width: 110px"
                                        [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td *ngIf="item.isEditing">
                                    <input type="text" [(ngModel)]="item.address" style="width: 100px"
                                        [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td *ngIf="item.isEditing">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <button class="btn btn-success" type="submit" (click)="updateEmployees(i)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-person-fill-up"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                                    <path
                                                        d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-success" type="submit" (click)="cancelEdit(i)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr *ngFor="let f of employeedata().controls;
                                        let i = index" [formGroupName]="i">
                                <td>
                                    <input type="text" formControlName="first_name" [(ngModel)]="empObject.first_name"
                                        style="width: 100px" />
                                    <div style="color: red;"
                                        *ngFor="let validation of validation_edumessage.first_name">
                                        <div style="color: red;" *ngIf="employeecon(i).controls['first_name'].hasError(validation.type) && 
                                            (employeecon(i).controls['first_name'].dirty ||
                                            employeecon(i).controls['first_name'].touched) ">
                                            {{ validation.message }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" formControlName="last_name" [(ngModel)]="empObject.last_name"
                                        style="width: 100px" />
                                    <div style="color: red;" *ngFor="let validation of validation_edumessage.last_name">
                                        <div style="color: red;" *ngIf="employeecon(i).controls['last_name'].hasError(validation.type) && 
                                            (employeecon(i).controls['last_name'].dirty ||
                                            employeecon(i).controls['last_name'].touched) ">
                                            {{ validation.message }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="tel" formControlName="contact" [(ngModel)]="empObject.contact"
                                        style="width: 100px" />
                                    <div style="color: red;" *ngFor="let validation of validation_edumessage.contact">
                                        <div style="color: red;" *ngIf="employeecon(i).controls['contact'].hasError(validation.type) && 
                                            (employeecon(i).controls['contact'].dirty ||
                                            employeecon(i).controls['contact'].touched) ">
                                            {{ validation.message }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="email" formControlName="email" [(ngModel)]="empObject.email"
                                        style="width: 150px" />
                                    <div style="color: red;" *ngFor="let validation of validation_edumessage.email">
                                        <div style="color: red;" *ngIf="employeecon(i).controls['email'].hasError(validation.type) && 
                                            (employeecon(i).controls['email'].dirty ||
                                            employeecon(i).controls['email'].touched) ">
                                            {{ validation.message }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="date" formControlName="dob" [(ngModel)]="empObject.dob"
                                        style="width: 110px" />
                                    <div style="color: red;" *ngFor="let validation of validation_edumessage.dob">
                                        <div style="color: red;" *ngIf="employeecon(i).controls['dob'].hasError(validation.type) && 
                                            (employeecon(i).controls['dob'].dirty ||
                                            employeecon(i).controls['dob'].touched) ">
                                            {{ validation.message }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" formControlName="address" [(ngModel)]="empObject.address"
                                        style="width: 100px" />
                                    <div style="color: red;" *ngFor="let validation of validation_edumessage.address">
                                        <div style="color: red;" *ngIf="employeecon(i).controls['address'].hasError(validation.type) && 
                                            (employeecon(i).controls['address'].dirty ||
                                            employeecon(i).controls['address'].touched) ">
                                            {{ validation.message }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <button class="btn btn-primary" type="submit" (click)="insertEmployee()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-danger" type="submit"
                                                (click)="removeemployeedata(i)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                    <path
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

    </div>
</div>